#memory{

    width: 100%;
    height: 20px;
    background-color: #8a8a8a;
    text-align: center;
    position: relative;

}

#memory-down{

    width: 50%;
    height: 100%;
    background-color: #313131;
    position: absolute;
    top: 0px;
    opacity: 0.5;

}